ASSIGNMENT 1

Variables

In [15]:
#Create a variable with name "x" and value of 10. Execute.
x = 10;
print(x) #Tell the computer to show you the value of that variable.

10

In [10]:
#Can you think of a second way to obtain the same result.
print(f'The value of x is {x}')

The value of x is 10

In [5]:
#Create four new variables: a,b,c,d that are equal to 10,20,30 and 40 respectively.
a,b,c,d = 10,20,30,40
print(a,b,c,d)

10 20 30 40

In [6]:
#Tell the computer to show you the value corresponding to the variable "b".
print(b)

20

In [7]:
#Do the same for "d".
print(d)

40

NUMBERS AND BOOLEAN VALUES

In [8]:
#Create a variable equal to "True"
var=True
print(var)

True

In [9]:
#Check its type
print(type(var))

<class 'bool'>

In [11]:
#Create a variable equal to 99.
var=99
print(var)

99

In [12]:
#Check its type
print(type(var))

<class 'int'>

In [13]:
#Turn 99 into float
var=float(99)
print(var)

99.0

In [14]:
#Turn 0.99 into an integer. What value did you get?
x=int(0.99)
print(x)

0

STRINGS

In [16]:
#Assign the value of 100 to the variable "m".
m=100

In [17]:
#With the help of the variable "m", write one line of code where the output after execution would be 100 days.
#Hint: You could provide four answers to this question.
print(f'{m} days')

100 days

In [21]:
print(str(m) + ' days')

100 days

In [24]:
print('%d days' %m)

100 days

In [25]:
#Produce an output equal to It's cool, isn't it?
print("It's cool, isn't it?")

It's cool, isn't it?

In [32]:
#Fix the string:  'Don't be shy
print("'Don't be shy")

'Don't be shy

In [35]:
#Produce an output equal to Click "OK".
print('Click "OK"') #or print("Click \"OK\"")

Click "OK"

In [34]:
print("Click \"OK\"")

Click "OK"

In [44]:
#Input a plus sign in your line of code to produce 'Big Houses'.
print("'Big" + " " + "Houses'")

'Big Houses'

In [45]:
#Input a trailing comma in your line of code to produce Big Houses.
print("Big", "Houses",) #a comma that appears after the last item in a list, tuple, dictionary, or function call

Big Houses

ARITHMETIC OPERATIONS

In [48]:
#Combine 15 and 23
x=15+23 #addition
print(x)

38

In [47]:
x= str(15)+str(23) #concatination
print(x)

1523

In [54]:
#Subtract 50 and 26
x=50-26
print(x)

24

In [57]:
#Divide 20 by 3
x=float(20/3)
print(x)

6.666666666666667

In [59]:
#Obtain the remainder of the division of 22 by 4
x=22%4
print(x)

2

In [63]:
#Divide the float 22 by 4
x=float(22/4)
print(x)

5.5

In [64]:
#Multiply 6 by 8
result=6*8
print(result)

48

In [67]:
#Raise 15 to the power of 2
x=15**2
print(x)

225

THE DOUBLE-EQUALITY SIGN

In [69]:
#Demonstrate that 100 is not equal to 98
result= 100 != 98
print(result)

True