PYTHON SETS
Unordered, unindexed(as opposed to list and tuples, which are indexed), do not allows duplicate values, immutable(elements cannot be changed,removes or updated), enclosed by curly brackets.

In [1]:
my_set = {1, 2, 'hello', 'world'}
my_set

{1, 2, 'hello', 'world'}

In [2]:
my_set = {1,2,1,'hello', 'world', 'hello'}
my_set

{1, 2, 'hello', 'world'}

In [3]:
len(my_set)

4

In [4]:
#Access set items
for i in my_set:
    print(i)

world
1
2
hello

In [5]:
1 in my_set

True

In [6]:
"hey" in my_set

False

In [7]:
#add items in my_set
my_set.add('python')
my_set

{1, 2, 'hello', 'python', 'world'}

In [8]:
#update() method, can add items from another set
new_set = {'hi', 'sam'}
my_set.update(new_set)
my_set

{1, 2, 'hello', 'hi', 'python', 'sam', 'world'}

In [10]:
# using update() with a lis
my_set = {1,2}
lst = ["three", "four"]
my_set.update(lst)
my_set

{1, 2, 'four', 'three'}

In [11]:
#using update with a tuple
lst = {1,2}
znd = ('one', 'two')
lst.update(znd)
lst

{1, 2, 'one', 'two'}