In [3]:
#Continue Statement
x=0
while x<10:
    x+=1
    if x==3:
        continue
    print(x)

1
2
4
5
6
7
8
9
10

In [7]:
#For loop
lst = ['one', 'two', 'three']
for num in lst:
  print(num)

one
two
three

THE RANGE FUNCTION

In [8]:
for i in 'python':
    print(i)

p
y
t
h
o
n

In [9]:
for i in range(6):
    print(i)

0
1
2
3
4
5

In [10]:
for i in range(2,6):
    print(i)

2
3
4
5

In [12]:
for i in range(2,10,3):
    print(i)

2
5
8

In [1]:
#NESTED LOOP
colors = ['red', 'blue', 'green']
objects = ['chair', 'table', 'house']

for i in colors:
    for j in objects:
        print(i,j)

red chair
red table
red house
blue chair
blue table
blue house
green chair
green table
green house

In [40]:
for i in range (1,6):
 for j in range (1,11):
    print(i*j)
print()

1
2
3
4
5
6
7
8
9
10
2
4
6
8
10
12
14
16
18
20
3
6
9
12
15
18
21
24
27
30
4
8
12
16
20
24
28
32
36
40
5
10
15
20
25
30
35
40
45
50

PYTHON FUNCTIONS

In [14]:
#creating function
def add(x, y):
    return x+y
add(5,6)

11

In [26]:
result=add(2,3,5)
print(result)

TypeError: add() takes 2 positional arguments but 3 were given

In [27]:
result=add(2)
print(result)

TypeError: add() missing 1 required positional argument: 'y'

In [43]:
def multiply(x,y,z):
    return x*y*z
multiply(2,2,2)

8

In [17]:
#arbitary arguments(*args), less used
def add(*nums):
    sum=0
    for i in nums:
        sum += i
    return sum
add(1,2,3,23)

29

In [20]:
#default parameter value
def multiply(x,y=3):
    return x*y
multiply(4,4) #x is 4 and y is 4

16

In [19]:
def subtract(x=3,y):
    return x-y
subtract(4) #x is 4

SyntaxError: parameter without a default follows parameter with a default (1611608967.py, line 1)

In [21]:
#Lambda fnx
sum = lambda x,y,z: x+y+z
sum(1,2,3)

6

In [22]:
sub=lambda x,y: x-y
sub(4,2)

2

PYTHON TUPLES,
CAN STORE MULTIPLE VALUES IN SINGLE VARIABLE,
ARE ENCLOSED BY PARENTHESIS(),
IMMUTABLE(UNCHANGEABLE),
ALLOWS DUPLICATE VALUES

In [23]:
my_tuple = ('hi', 'hello', 3, 5)
my_tuple

('hi', 'hello', 3, 5)

In [24]:
print(my_tuple[0])
print(my_tuple[1])
print(my_tuple[2])

hi
hello
3

In [27]:
#duplicate items are allowed in tuple
tuple_1= (1,4,6, 'apple', 'mango', 'apple')
len(tuple_1)

6

In [29]:
tuple_1element= ('hello') #we have to use comma after the element in one element
type(tuple_1element)

str

In [30]:
tuple_1element= ('hello',) #we have to use comma after the element in one element
type(tuple_1element)

tuple

#Accessing tuple items with indexing, negative indexing, range of indexes work just like in Lists.

In [41]:
my_tuple = (1, 6, 8, 'hello', 'world', 8.2)
print('my tuple [0] :', my_tuple[0])
print('my tuple [1] :', my_tuple[1])
print('my tuple [1:5] :' ,my_tuple[1:5])
print('my tuple [-3:-1] :', my_tuple[-3:-1])
print('my tuple [ :2]:', my_tuple[ :2])
print('my tuple [1: ]:', my_tuple[1: ])

my tuple [0] : 1
my tuple [1] : 6
my tuple [1:5] : (6, 8, 'hello', 'world')
my tuple [-3:-1] : ('hello', 'world')
my tuple [ :2]: (1, 6)
my tuple [1: ]: (6, 8, 'hello', 'world', 8.2)

In [42]:
del my_tuple

In [44]:
my_tuple #deleted so will get error

NameError: name 'my_tuple' is not defined

unpack tuples : We can extract the values in tuples to variables. 
Remember to provide as many variables as there are values in the tuple.

In [47]:
#unpack tuples
student1, student2, student3 = ("Sam", "Harry", "Tom")
print(student1)
print(student2)
print(student3)

Sam
Harry
Tom

In [48]:
#loop through a tuple
my_tuple = ('hello', 'world')

for item in my_tuple:
    print(item)

hello
world

In [49]:
t1 = (1,2,3)
t2 = (4,5,6)
t3 = (7,8,9)
print(t1 +t2 +t3)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [51]:
'''Multiply tuples
You can multiply a tuple and an integer with a * operator.'''
(2,3,4)*2

(2, 3, 4, 2, 3, 4)