PYTHON DICTIONARY
stores data in the form of key, value pairs (key:value).
orderes(have indexes), mutable(items can be changed, updated and deleted, do not allow duplicate keys

In [1]:
city= {
    'Chicago': 3,
    'New York': 4,
    'LA': 6
}
city

{'Chicago': 3, 'New York': 4, 'LA': 6}

In [3]:
city["Chicago"] #access dictionary items

3

In [4]:
city.get("LA")

6

In [6]:
city.keys()

dict_keys(['Chicago', 'New York', 'LA'])

In [8]:
city.values()

dict_values([3, 4, 6])

In [15]:
city.items() #the result will be a list of tuples, each tuple containing a pair of key and value

dict_items([('Chicago', 3), ('New York', 4), ('LA', 6)])

In [16]:
'Chicago' in city

True

In [17]:
'Wales' in city

False

CHANGE DICTIONARY ITEMS

In [18]:
# dict[ key ] = new value
city['LA']= 30
city

{'Chicago': 3, 'New York': 4, 'LA': 30}

In [19]:
#using update method
city.update({'Chicago': 40})
city

{'Chicago': 40, 'New York': 4, 'LA': 30}

In [21]:
#adding items to dictionary
city['Kathmandu']= 22
city

{'Chicago': 40, 'New York': 4, 'LA': 30, 'Kathmandu': 22}

In [23]:
#using update to add items to dict..
city.update({"Jhapa": 33})
city

{'Chicago': 40, 'New York': 4, 'LA': 30, 'Kathmandu': 22, 'Jhapa': 33}

In [27]:
#remove items
city.pop('Kathmandu')
city

{'Chicago': 40, 'New York': 4, 'LA': 30, 'Jhapa': 33}

In [28]:
del city['Jhapa']
city

{'Chicago': 40, 'New York': 4, 'LA': 30}

In [29]:
city.clear() #deletes all items
city

{}

In [30]:
del city

In [31]:
city

NameError: name 'city' is not defined