FUNCTIONS AND CONDITIONAL STATEMENTS

1. Define functions and returning values

In [2]:
# The print() function can print text to the screen.
print('Black dove, where will you go?')

Black dove, where will you go?

In [3]:
# The type() function returns an object's data type.
number = 15
type(number)

int

In [4]:
# The str() function converts an object into a string.
number = str(number)
type(number)

str

In [6]:
#define a function
def greeting(name):

    print('Welcome, ' + name + '!')
    print('You are part of the team!')

greeting('Robin')

Welcome, Robin!
You are part of the team!

In [13]:
 # Define a function to calculate the area of a triangle
def area_triangle(base, height):
    return base*height /2
area_triangle(5,4)

10.0

In [14]:
# Use the function to assign new variables and perform calculations.
area_a = area_triangle(7,3)
area_b = area_triangle(5,4)
total_area = area_a + area_b
total_area

20.5

In [25]:
# Define a function that converts hours, minutes, and seconds to total seconds.
def get_seconds(hours, minutes, seconds):
    total_seconds = 3600*hours + 60*minutes + seconds
    return total_seconds

In [27]:
# Use the function to return a result.
get_seconds(2, 30, 20)

9020

2. Write clean code

In [35]:
name = 'Sangam'
number = len(name) *9
print('Hello ' + name + '. Your lucky number is ' +str(number) + '.')

name = 'Marisol'
number = len(name)*9
print('Hello ' + name + '. Your lucky number is ' +str(number) + '.')

Hello Sangam. Your lucky number is 54.
Hello Marisol. Your lucky number is 63.

In [36]:
# Define a function that simplifies the above code and makes it reusable.
def lucky_number(name):
    number = len(name)*9
    print('Hello ' + name + '. Your lucky number is ' +str(number) + '.')

lucky_number('Sangam')
lucky_number('Marisol')

Hello Sangam. Your lucky number is 54.
Hello Marisol. Your lucky number is 63.

In [41]:
# This code requests a number from the user and returns its factorial,
# printing each iteration of the multiplication.
a = input();
y = 1
for i in range(int(a)):
    y= y*(i+1)
    print(y)

 4

1
2
6
24

In [46]:
# This function takes an integer as an input and returns its factorial.
def factorial(n):
    y=1
    for i in range(int(n)):
        y=y*(i+1)
    return y

input_num = input()
print(factorial(input_num))

 4

24

3. Use comments to scaffold your code

In [55]:
def seed_calculator(fountain_side, grass_width):
    """
Calculate number of kilograms of grass seed needed for
a border around a square fountain.
Parameters:
fountain_side (num): length of 1 side of fountain in meters
grass_width (num): width of grass border in meters
Returns:
seed (float): amount of seed (kg) needed for grass border
"""
# Area of fountain
    fountain_area = fountain_side**2
# Total area
    total_area = (fountain_side + 2 * grass_width)**2
# Area of grass border
    grass_area = total_area - fountain_area
# Amount of seed needed (35 g/sq.m)
    seed = grass_area * 35
# Convert to kg
    seed = seed / 1000
    return seed

seed_calculator(12,2)

3.92

4. Make comparison using operators

In [57]:
# > checks for greater than
print(2>1)

True

In [58]:
 # == checks for equality
print("man" == "dog")

False

In [59]:
# != checks for inequality
print(2 != 2)

False

In [61]:
# Some operators cannot be used between different data types.
print(2 < "5")

TypeError: '<' not supported between instances of 'int' and 'str'

In [67]:
# Letters that occur earlier in the alphabet evaluate to less than letters fromâ£later in the alphabet.
# BOTH sides of an `and` statement must be true to return True.
print("Yellow" > "Cyan")
print("Brown" > "Magenta")

True
False

In [68]:
# An `or` statement will return True if EITHER side evaluates to True.
print(22 > 43 or 2 != 5)

True

In [70]:
# `not` reverses Boolean evaluation of what follows it.
print(not 55 == "Answer")

True

5. Use if/elif/else statements to make decisions

In [82]:
# Define a function that checks validity of username based on length.
def hint_username(username):
    if len(username)<8:
        print('Invalid username. Must be at least 8 characters long.')
    else:
        print('Valid username.')

hint_username('kdcfjgvn')

Valid username.

In [80]:
# Define a function that uses modulo to check if a number is even.
def is_even(number):
    if number % 2 ==0:
        return True
    return False

is_even(22)

True

In [83]:
# Define a function that checks validity of username based on length.
def in_username(username):
    if len(username)<8:
        print("Invalid username. Must be at least 8 characters long.")
    if len(username)<15:
        print("Invalid username. Cannot exceed 15 characters.")
    else:
        print("Valid username.")

in_username('mynameissangamdangal')

Valid username.