1. Introduction to while loops

In [4]:
#instantiate a counter
x=0

#create a while loop that prits "not there yet," increments x by 1, and prints x untill x reaches 5
while x<5:
    print('Not there yet, x=' +str(x))
    x=x+1
    print('x=' +str(x))

Not there yet, x=0
x=1
Not there yet, x=1
x=2
Not there yet, x=2
x=3
Not there yet, x=3
x=4
Not there yet, x=4
x=5

In [14]:
#Import the random module to be able to create a (pseudo) random number.
import random

number = random.randint(1,25)  #randint generates random num
number_of_guesses = 0         #instantiate guess counter

while number_of_guesses < 5:
    print('Guess the number between 1 to 25: ') #tells user to guess num
    guess = input()                             #produces a user input field
    guess = int(guess)                          #converts guess to int
    number_of_guesses += 1                      #incerement guess count by 1

    if guess == number:          #break while loop if guess is correct
        break
    elif number_of_guesses == 5:  #break while loop if guess limit reached
        break
    else:
        print('Nope! Try again.')

#message to display if correct
if guess == number:
    print('Correct! You guessed the number in ' +str(number_of_guesses) +' tries!')

#message to display after 5 unsuccessful guesses
else:
    print('You did not guess the number. The number was ' +str(number) +'.')

Guess the number between 1 to 25:

 12

Nope! Try again.
Guess the number between 1 to 25:

 14

Correct! You guessed the number in 2 tries!

2. INTRODUCTION TO FOR LOOPS

In [18]:
#example of for loop with range() function
for x in range(4):
  print(x)

0
1
2
3

In [19]:
#reading a .txt file with a for loop
with open('python.txt') as f:
    for line in f:
        print(line)
print('\nI\'m done.')

A text file in Python is simply a file that contains plain text data. Python provides various ways to work with text files for reading, writing, and manipulating data.

I'm done.

3. LOOPS WITH MULTIPLE RANGE PARAMETERS

In [22]:
#use a for loop to calculate 9!
factorial = 1
for n in range(1,10):
    factorial*=n
print(factorial)

362880

In [28]:
# Define a function that converts Fahrenheit to Celsius.
def to_celsius(x): #x is fahrenheit
      return (x-32)* 5/9

# Create a table of Celsius-->Fahrenheit conversions every 10 degrees, 0-100
for x in range(0,101,10):
     print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

4. WORK WITH STRINGS

In [34]:
'Hello' + 'World' #combines them

'HelloWorld'

In [31]:
'Hello ' + 'World' # Blank space ("whitespace") is its own character.

'Hello World'

In [35]:
'Hello' + ' ' + 'World' # Including a whitespace when combining strings

'Hello World'

In [39]:
greet_1 = 'Hello '
greet_2 = 'World'
greet_1 + greet_2

'Hello World'

In [42]:
help = 'Help! ' #strings can be multiplied by integers
help * 3

'Help! Help! Help! '

In [43]:
help - 2 # Strings cannot be used with subtraction or division.

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [44]:
# Alternate single and double quotes to include one or the other in your string.
welcome = "'Thanks for downloading python'"
print(welcome)

'Thanks for downloading python'

In [47]:
# \ is an escape character that modifies the character that follows it.
welcome = "\'Thanks fo downloading python\'"
print(welcome)

'Thanks fo downloading python'

In [50]:
# \n creates a newline.
greet = 'Have a good day,\nsir.'
print(greet)

Have a good day,
sir.

In [53]:
 # Using escape character (\) lets you express the newline symbol within a string.
new_line = "\\n It represents a newline in Python."
print(new_line)

\n It represents a newline in Python.

In [55]:
 # You can loop over strings.
python = "Python"
for letter in python:
    print(letter +'ut')

Put
yut
tut
hut
out
nut

5. STRING SLICING

In [57]:
# The index() method returns index of character's first occurrence in string.
Mindrisers = "Putalisadak"
Mindrisers.index("a")

3

In [58]:
# The index() method will throw an error if character is not in string
Mindrsers.index("x")

NameError: name 'Mindrsers' is not defined

In [59]:
# Access the character at a given index of a string.
name = 'Mindrisers'
name[2]

'n'

In [60]:
# Access the character at a given index of a string.
name[0]

'M'

In [62]:
# Indices that are out of range will return an IndexError.
name[10]

IndexError: string index out of range

In [63]:
# Negative indexing begins at the end of the string.
name[-1]

's'

In [64]:
# Negative indexing begins at the end of the string.
name[-2]

'r'

In [65]:
# Access a substring by using a slice.
fruit = 'Orange'
fruit[1:5]

'rang'

In [68]:
# Omitting the first value of the slice implies a value of 0.
fruit[ :6]

'Orange'

In [69]:
# Omitting the last value of the slice implies a value of len(string)
fruit[0: ]

'Orange'

In [71]:
#The `in` keyword returns Boolean of whether substring is in string.
'banana' in fruit

False

In [76]:
# The `in` keyword returns Boolean of whether substring is in string.
'ange' in fruit #ange in Orange

True

6. FORMAT STRINGS

In [85]:
# Use format() method to insert values into your string, indicated by braces.
name = 'Sangam'
num = 22
print("Hello {} your lucky number is {}.".format(name,num))

Hello Sangam your lucky number is 22.

In [93]:
# You can assign names to designate how you want values to be inserted.
name = 'Sangam'
number = 22
print('Hello {name}, your lucky number is {num}.'.format(name=name,num=number))

Hello Sangam, your lucky number is 22.

In [95]:
# You can use argument indices to designate how you want values to be inserted.
print('Hello {1}, your lucky number is {0}.'.format(number, name))

Hello Sangam, your lucky number is 22.

In [114]:
# Example inserting prices into string
price = float(7.75)
with_tax = price * float(1.69)
print("Base price is Rs{} INR. \nWith_tax price is Rs{} INR.".format(price, with_tax))

Base price is Rs7.75 INR.
With_tax price is Rs13.0975 INR.

In [118]:
# Use :.2f to round a float value to two places beyond the decimal
print("Base price is Rs{:.2f}INR. \nWith_tax is Rs{:.2f}INR.".format(price, with_tax))

Base price is Rs7.75INR.
With_tax is Rs13.10INR.

In [129]:
# Define a function that converts Fahrenheit to Celsius.
def to_cel(far):
    return (far-32)* 5/9
# Create a temperature conversion table using string formatting
for far in range(0,101,10):
    print("{:>3} F | {:>6.2f} C".format(far, to_cel(far))) #>3 or >6 makes number in same order

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C